body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .quiz-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #timer-container {
    font-size: 18px;
    margin: 10px;
    height: 500px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #2980b9;
  }

  
  #submit-btn {
    background-color: #2ecc71;
    margin-top: 10px;
  }
  
  #submit-btn:hover {
    background-color: #27ae60;
  }
  
  .hidden {
    display: none;
  }
  


